@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;400;600;700&display=swap");

* {
  font-family: "Montserrat Alternates", "sans-serif";
}

*:focus-visible {
  -webkit-box-shadow: 1px 1px 27px 6px #ffc107;
  box-shadow: 1px 1px 27px 6px #ffc107;
  outline: none;
}

.questions-container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(-45deg, #333, #ffc107, #333);
  height: 100vh;
  animation: Gradient 10s ease infinite;
  background-size: 400% 400%;
  overflow: hidden; /* Prevent scrolling in the container */
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title {
  font-size: 3rem !important;
  margin: 0.2rem 0;
  text-align: center;
  color: #ffc107;
  -webkit-text-stroke: 2px #333333; /* width and color */
}

.question-timer {
  font-size: 1.4rem !important;
  margin: 0.2rem 0;
  text-align: center;
  color: #333333;
  -webkit-text-stroke: 2px #ffc107; /* width and color */
}

.question-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1.2rem !important;
  color: #333;
  text-align: center;
}

.questions-box {
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  row-gap: 1rem;
  column-gap: 2rem;
}

.questions-list {
  grid-column: auto;
  grid-row: auto;
}

.questions-button {
  height: 4rem !important;
}

.questions-button,
.next-question {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  background-color: #333;
  color: #ffffff;
  font-size: 1.2rem !important;
  border: none;
  cursor: pointer;
  transition: all ease 0.3s;
  border: #ffc107 2px solid;
  text-transform: uppercase;
  min-width: 5rem !important;
}

.questions-button:hover,
.next-question:hover {
  background-color: #ffc107;
  color: #333 !important;
  border: #333 2px solid;
}

.question-result {
  color: #333;
  text-align: center;
  font-weight: bold;
}

.next-question {
  font-size: 1.2rem;
}

.current-question {
  color: #333;
  text-align: center;
  font-size: 1.2rem !important;
}

.score-text {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-transform: uppercase;
}

.score-number {
  font-size: 1.4rem !important;
  font-weight: bold;
  color: #333;
}

/* Media Queries */
@media (max-width: 768px) {
  .title {
    font-size: 2rem;
  }

  .question-timer {
    font-size: 1.2rem;
  }

  .subtitle {
    font-size: 1rem;
  }

  .questions-button,
  .next-question {
    font-size: 0.7rem;
  }

  .next-question {
    font-size: 1rem;
  }

  .current-question {
    font-size: 0.8rem;
  }

  .score-number {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 1.8rem;
  }

  .question-timer {
    font-size: 1rem;
  }

  .subtitle {
    font-size: 0.9rem;
  }

  .questions-button,
  .next-question {
    font-size: 0.6rem;
  }

  .next-question {
    font-size: 0.9rem;
  }

  .current-question {
    font-size: 0.7rem;
  }

  .score-number {
    font-size: 1rem;
  }
}

.resultBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.finalText {
  margin-bottom: 0;
}

.finalScore {
  font-size: 3rem;
  font-weight: bold;
}

.scoreboardLinkk {
  text-decoration: none;
}

.buttonBoxQuestion {
  display: flex;
  justify-content: center;
}
